[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pytest = "*"
mypy = "*"
connect-four-game = "0.1.6"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.11"
